.base-layout-app {
  .toggle-button {
    position: fixed;
    top: 20px;
    padding: 2px;
    border-radius: 22%;
    background: var(--app-bg-color);
    z-index: 999999;
    :hover {
      cursor: pointer;
    }
  }
  .toggle-button-location-0 {
    left: calc(var(--sidebar-width) - 15px);
  }
  .toggle-button-location-180 {
    left: 15px;
  }
  .rotate-180 {
    transform: rotate(180deg);
  }

  .base-layout-main-body {
    margin-top: var(--app-header-height);
    transition: margin-left 0.5s;
    .base-layout-content {
      padding: 20px;
    }
  }

  .sidebar-opened {
    margin-left: var(--sidebar-width);
  }
}
