.orm-chat-response-app {

    .message-summary-top-action {

        .page-btn-group {

            i {
                padding: 0 10px;
            }

            button:active {
                background-color: var(--app-bg-color);
                transform: scale(1);
                transition: transform 700ms, opacity 700ms;
                opacity: 0.2;
            }
        }
    }
}