@import "../../../assets/scss/_variables.scss";

.sidebar-app {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: $sidebar-width;
  user-select: none;
  padding-top: 5px;
  background: $sidebar-bg-color;
  font-size: 13px;
  font-weight: 400;

  .logo-section {
    height: 70px;
    border-bottom: 1px dashed #393945;
    .icon {
      color: $white-color;
      width: 70px;
    }
  }

  ul {
    padding: 10px;

    .accordion-button {
      color: $default-font-color;
      padding: 0.65rem 1rem;
      margin-bottom: 2px;
    }
    .accordion-button::after {
      color: $default-font-color;
      content: "\276F";
    }
    .accordion-button.collapsed::after {
      background-image: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .accordion-button:not(.collapsed)::after {
      background-image: none;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(90deg);
    }
    .accordion-collapse > a {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    li {
      .icon {
        width: 30px;
        display: inline-block;
        padding-right: 5px;
      }

      a {
        display: block;
        padding: 0.65rem 1rem;
        color: $default-font-color;
        text-decoration: none;
      }
      a:hover {
        color: $white-color;
      }
      // .accordion-collapse[a:matches(.active)] {
      a.active {
        color: $white-color;
        background: $sidebar-active-color;
        border-radius: 0.475rem;
      }
      a:hover:before,
      a.active:before {
        display: block;
      }
    }
  }

  // override accordion css
  .accordion-button,
  .accordion-item,
  .accordion-button:focus,
  .accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
    border: none;
    font-size: 13px;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }
}
