.sidebar-app {
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  height: 100%;
  width: var(--sidebar-width);
  user-select: none;
  padding-top: 5px;
  background: var(--sidebar-bg-color);
  font-size: 13px;
  font-weight: 400;

  .logo-section {
    background: var(--sidebar-bg-color);
    height: 70px;
    min-width: var(--sidebar-width);
    text-align: center;
    .company-icon > img {
      padding: 10px;
      width: 60%;
    }
  }

  .toggle-button {
    position: absolute;
    top: 20px;
    left: calc(var(--sidebar-width) - 15px);
    padding: 2px;
    border-radius: 22%;
    background: var(--app-bg-color);
    color: #009ef7;
    :hover {
      cursor: pointer;
    }
  }
  .rotate-180 {
    transform: rotate(180deg);
  }

  ul::-webkit-scrollbar {
    width: 18px;
  }
  ul::-webkit-scrollbar-track {
    background: var(--sidebar-bg-color);
  }
  ul::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border: 5px solid var(--sidebar-bg-color);
    border-radius: 20px;
  }

  ul {
    position: absolute;
    top: 75px;
    bottom: 10px;
    padding: 10px;
    max-height: 86vh;
    max-height: 86vh;
    overflow-y: auto;
    width: 100%;
    padding: 10px;

    .accordion-button {
      color: var(--default-font-color);
      padding: 0.65rem 1rem;
      margin-bottom: 2px;
    }
    .accordion-button::after {
      color: var(--default-font-color);
      content: "\276F";
    }
    .accordion-button.collapsed::after {
      background-image: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .accordion-button:not(.collapsed)::after {
      background-image: none;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(90deg);
    }
    .accordion-collapse > a {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    li {
      .icon {
        width: 30px;
        display: inline-block;
        padding-right: 5px;
      }

      a {
        display: block;
        padding: 0.65rem 1rem;
        color: var(--default-font-color);
        text-decoration: none;
      }
      a:hover {
        color: var(--white-color);
      }
      .accordion-button.active,
      a.active {
        color: var(--white-color);
        background: var(--sidebar-active-color);
        border-radius: 0.475rem;
      }
      a:hover:before,
      a.active:before {
        display: block;
      }
    }
  }

  // override accordion css
  .accordion-button,
  .accordion-item,
  .accordion-button:focus,
  .accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
    border: none;
    font-size: 13px;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }

  .sidebar-bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 25px;
    text-align: center;
    p {
      color: var(--default-font-color);
    }
  }
}
