.navbar-app {
  height: var(--app-header-height);
  background: var(--body-bg-color);
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  padding: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .navbar-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    margin-left: 35px;
    width: 100%;

    .nav-right {
      text-align: end;
      display: flex;
    }
  }

  .margin-left {
    margin-left: var(--sidebar-width);
  }
}