.navbar-app {
  height: var(--app-header-height);
  background: var(--white-color);
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  padding: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  .navbar-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    margin-left: 35px;
    width: 100%;
    .nav-right {
      text-align: end;
    }
  }
  .margin-left {
    margin-left: var(--sidebar-width);
  }
}
