//theme
@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import "bootstrap/scss/bootstrap";
@import "./assets/scss/base.scss";

body {
  margin: 0;

  .row {
    --bs-gutter-x: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
